@import "./../../assets/styles/variables";

.tweet {
	border: 1px solid $primaryBackgroundColor;
	border-radius: 3px;
	padding: 10px 0px;
	margin: 10px;
	.profile-pic {
		padding-right: 0px !important;
		border: 1px solid transparent;
		border-radius: 5px;
	}
	.body {
		padding-left: 10px !important;
		.header {
			.time {
				float: right;
				margin-top: 3px;
			}
		}
		.text {
			font-size: 15px;
			margin: 10px 0px;
			.hash-tag {
				color: $primaryBackgroundColor;
			}
		}
	}
}